<div class="section">

    <div class="container">

        <div>

            <h1>Registrar Tarjeta</h1>

            <div>

                <div>
                    <br>
                    <label>No. Tarjeta</label>
                    <br>
                    <input type="text">

                </div>

                <div>

                    <br>
                    <label>Caducidad</label>
                    <br>
                    <input type="text">

                </div>


                <div>

                    <br>
                    <label>Codigo:</label>
                    <br>
                    <input type="password">
                    <br>
                </div>

                <div>
                    <br>
                    <label>Tipo Tarjeta:</label><br>
                    <input type="radio" name="radioSelect" value="tCredito" id="tCredito">
                    <label for="tCredito"> Credito</label><br>
                    <input type="radio" name="radioSelect" value="tDebito" id="tDebito">
                    <label for="tCredito"> Debito</label><br>

                </div>



                <br>
                <button>Registrar</button>
            </div>
        </div>


    </div>


</div>