<div class="section">

    <div class="container">

        <h1>Perfil Cliente:</h1>

        <div>
            <div>

                <div>
                    <label>Nombre:</label>
                </div>

                <div>
                    <label>Apellido: </label>
                </div>

                <div>
                    <label>Correo: </label>
                </div>

                <div>
                    <label>Telefono: </label>
                </div>

            </div>

            <div>
                Foto
            </div>

        </div>
    </div>

</div>